.logo-img {
  max-height: 100%;
  display: inline;
}

.header-title {
  padding-right: 20px;
  margin-top: 10px;
}

@media #{$medium-and-down} {
  nav .brand-logo.left {
    left: 0rem;
  }
}

@media #{$small-and-down} {
  .header-title {
      font-size: 2rem;
  }
}
