html {
  font-size: 75%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

.flex-holder {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.use-pointer {
  cursor: pointer;
}

@media #{$medium-and-up} {
  .max-width {
    max-width: 500px;
  }
}
