html {
  font-family: 'Raleway',  sans-serif;
}

body {
  // font-family: Helvetica, Arial;
}

.flex-holder {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.use-pointer {
  cursor: pointer;
}

.list-view-collection {
  padding-bottom: 50px;
}

@media #{$medium-and-up} {
  .max-width {
    max-width: 500px;
  }
}
